body{
	font-family: 'Oxygen', sans-serif;
}
h1, h2, h3, h4, h5 {color: #5f0916;}
.head {
	background: #5f0916;
	padding: 20px 0;
	color: white;
}
.logo {width:336px;}
.mmlogo { max-width: 237px; margin: 0 auto; margin-top: 27px;}
.head h3, .head h3 small, .head h4, .head h5, .titles {color: white; margin-top: 11px;}
.titles hr { margin: 10px 0;}
.numbers, .numbers h4 small { text-align: center; color: white;}
.hands {font-family: "Georgia", Times, serif;}
.slogn {font-size: 21px; margin-top: 11px; display: block; margin-bottom: 0;}
.nav-back {color: white; border-top: 9px solid #9f0f25;}
.navbar {border-radius: 0; margin-bottom: 0;}
.navbar-inverse {background: #fff; border: 0;}
.navbar-inverse .navbar-tab > li > a:hover {background: #999}
.navbar-inverse .navbar-tab > li > a {
	padding: 10px 22px;
	background: #eee;
	color: #666;
	margin: 0 2px;
	border-radius: 0 0 10px 10px;
}
.navbar-inverse .navbar-tab > li > a.active {
	background: #9f0f25;
	color: white;
	font-size: 17px;
	font-weight: 700;
	padding-bottom: 15px;
	border-radius: 0 0 20px 20px;
}
.nav-logo > li > a {
	padding: 0;
}

.carousel-control {width: 4%!important;}
.quotecontainer { margin-top: 20px}
.badge {background: #9f0f25}
.downer {
	position: absolute;
	right: 50%;
	top: 13px;
	font-size: 32px;
	color: #eee;
}
.downerleaf {
	top: 5px;
    right: 50.6%;
    font-size: 18px;
}
.assessmentformarea { margin-bottom: 60px;min-height: 610px}
.foot {
	background: #f7f7f7;
	padding: 20px 0 60px;
	margin-top: 40px;
	border-top: 2px solid #ddd;
}
.foot hr { margin-bottom: 10px; margin-top: 10px;}
.seprate hr {border-top: 1px solid #ddd;}
.questions .lead {color: #5f0916;}
.g-recaptcha {width: 304px; margin: 0 auto 14px;}

/* button customize */
.btn-primary {
	color: #fff;
	background-color: #5f0916;
	border-color: #aa1027;
}
.btn-primary:hover, .btn-primary:focus,
.btn-primary.focus, .btn-primary:active,
.btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #aa1027;
	border-color: #aa1027;
}
.btn-mega {font-size: 25px;}
.stepscopy { min-height: 227px;}

.addressdivide hr {margin-bottom: 10px; margin-top: 10px;}
.addresses h3 { border-bottom: 1px solid #eee; padding-bottom: 10px;}

.footerlogo {width: 233px;}
ul.footnav li a { color: #5f0916; padding: 4px; display: block;}
ul.footnav li a:hover { color: #aa1027; background: #eee; text-decoration: none;}

.bannerTile {
	width: 14.2857%;
	float: left;
	border-left: 2px solid white;
	border-right: 2px solid white;
}
.bannerTile:hover {width: 14.28%; border-left: 1px solid white;border-right: 1px solid white}
#education {
	background: #f7f7f7 url('/img/pattern1.png') top right;
	border-top: 1px solid #ddd;
	border-bottom: 2px solid #ddd
}
.edWell {background: white;}

/* mobile customize */
@media (max-width: 995px) {
	#navigation .container { padding: 0;}
	#navigation.nav-back { padding-top: 0;}
}
